[user]
  email = geningdm@gmail.com
  name = Dmitry Gening
[color]
  pager = true
  ui = auto
  status = auto
  diff = auto
  branch = auto
  showBranch = auto
  interactive = auto
  grep = auto
[color "status"]
  header = black bold
  branch = cyan
  nobranch = red
  unmerged = red
  untracked = cyan
  added = green
  changed = red bold
[color "diff"]
  meta = red bold
  frag = black bold
  func = blue
  old = red
  new = green
  commit = blue
  whitespace = red
  context = normal
[color "branch"]
  current = cyan
  local = blue
  remote = magenta
  upstream = magenta
  plain = normal
[color "decorate"]
  branch = blue
  remoteBranch = magenta
  tag = magenta
  stash = cyan
  HEAD = blue
[color "interactive"]
  prompt = red
  header = red bold
  error = red
  help = black bold
[color "grep"]
  context = normal
  match = cyan
  filename = blue
  function = blue
  selected = normal
  separator = red bold
  linenumber = normal
[status]
	short = true
	showStash = true
[push]
  default = current
[core]
  excludesfiles = ~/.gitignore
[github]
  user = geningdm
[alias]
  commit-rnd = "!git commit -m \"`curl -s whatthecommit.com | awk '{ if ($0 ~ /<p>.*/) { sub(/<p>/, \"\", $0); print }}'`\""
  find-ancestor = "!zsh -c 'diff -u <(git rev-list --first-parent '${1:-master}') <(git rev-list --first-parent '${2:-HEAD}') | sed -ne \"s/^ //p\" | head -1' -"
  log-tree = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)' --all
