[submodule "themes/solarized"]
	path = themes/solarized
	url = https://github.com/heichblatt/gtk2-theme-solarizeddark.git
[submodule "vim/bundle/vundle"]
	path = vim/bundle/vundle
	url = git://github.com/gmarik/vundle.git
[submodule "zsh/grml-etc-core"]
	path = zsh/grml-etc-core
	url = git://git.grml.org/grml-etc-core.git
