[submodule "zsh/.zprezto"]
	path = zsh/.zprezto
	url = git@github.com:sorin-ionescu/prezto.git
[submodule "emacs/.emacs.d"]
	path = emacs/.emacs.d
	url = https://github.com/syl20bnr/spacemacs
[submodule "emacs/.emacs.private.d/dmgening/local/org-textile"]
	path = emacs/.emacs.private.d/dmgening/local/org-textile
	url = git@github.com:yashi/org-textile.git
