.window {
    font-family: 'Menlo';
    font-size: 13px;
    text-overflow: ellipsis;
    -webkit-font-smoothing: antialiasing;

    white-space: nowrap;
    display: inline-block;
    overflow: hidden;

    color: #f8f8f0;
}
